fastapi==0.111.0
uvicorn==0.30.1
uvloop==0.21.0
httptools==0.6.4
sqlalchemy==2.0.30
aiosqlite==0.20.0
python-multipart==0.0.9
easyocr==1.7.1
google-generativeai==0.7.0
google-ai-generativelanguage==0.6.5
protobuf==4.25.8
grpcio-status==1.63.0rc1
ujson==5.10.0
watchfiles==1.1.0
rich-toolkit==0.14.8
azure-cognitiveservices-speech==1.34.0
